<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/login.css">
    <title>Probar Administrador</title>
</head>

<body>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
            <h2>Iniciar Sesión</h2>
            <input type="email" placeholder="email" required/>
            <input type="password" placeholder="password" required/>
            <a href="dashboard.html" id="ingresar">Ingresar</a>
            <h2>&nbsp;</h2>
        </div>
    </div>
</body>

</html>